body{
    margin: 0;
    height: 0;
    box-sizing: border-box;
} 
body{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    min-height: 100vh;
    background: seagreen;
}
.mother{
    width: 420px;
    background: purple;
    color: white;
    margin: 30px 20px 20px 30px;
}
.lomo h2{
    font-size: 36px;
    text-align: center;
}
.roo{
    font-size: 18px;
}
.roo input{
    width: 60%;
    height: 40px;
    background: rgba(0, 183, 255, 0.879);
    margin: 20px 0;

}
.roo input::placeholder{
    color: white;
}

